*{
    margin: 0;
    padding: 0;
}
header{
    height: 150;
    width: 100%;
    background-color: aquamarine;
}
h1{
    text-align: center;
}
p{
    padding: 0;
    color: blanchedalmond;
}
main{
    height: 500px;
    width: 100%;
    background-color: violet;
}
h2{
    color: blue;
    text-align: center;
}
section{
    height: 300px;
    width: 100%;
    background-color: black;
}